body
{
	font-family: Verdana, Arial;
	font-size: 10pt;
	text-align: center;
	background-color: #FFFFFF;
}

h1
{
	text-align: center;
}

table
{
	width: 100%;
}

th
{
	font-size:16pt;
}

td
{
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: black;
	background-color: white;
}


.title1
{
	text-align: left;
}

.title2
{
	text-align: left;
}

.title4
{
	text-align: center;
}

.answer1 
{
	text-align: center;
}

.answer2
{
	text-align: center;
}
